---
import About from "../components/home/About.astro";
import Contact from "../components/home/Contact.astro";
import Experience from "../components/home/Experience.astro";
import Header from "../components/home/Header.astro";
import Hero from "../components/home/Hero.astro";
import Projects from "../components/home/Projects.astro";
import Technologies from "../components/home/Technologies.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Experience />
    <Technologies />
    <Projects />
    <Contact />
  </main>
</Layout>
